<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title></title>
</head>
<body>

<div th:fragment = "footer">
<div class="container my-5">
    <footer class="text-center fixed-bottom" style="background-color: #073642">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <div class="card-body">
                    <blockquote class="blockquote mb-0" style="color:#fdf6e3">
                        <p>It's a wise crow that knows which way the camel points.</p>
                        <footer class="blockquote-footer">Terry Pratchett <cite title="Source Title">Small Gods</cite></footer>
                    </blockquote>
                </div>
        </div>

        <!-- Grid container -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

            <a style="color:#fdf6e3" href="https://github.com/kar-mon/BestCRM">Monika Karczewska</a>
        </div>
    </footer>

</div>
</div>

<!--<div th:fragment = "footer">
    <div class="p-3 mb-2 bg-danger-subtle text-emphasis-danger">
    <nav class="navbar fixed-bottom navbar-expand-lg bg-success navbar-dark">
        <div class="content">
            <h3>It's a wise crow that knows which way the camel points.</h3>
            <p>Terry Pratchett<p>
        </div>
    </div>
    </nav>
</div>-->



</body>
</html>