<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<div th:fragment = "header">
  <!--    navigation-->
  <!--    fixed-top sticky top -->
  <nav class="navbar navbar-expand-lg p-3 mb-2 bg-info-subtle text-emphasis-info"  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Best CRM ever</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/client/add">add new client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/client/list">clients list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deal/add">add new deal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deal/list">deals list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">+++Divide By Cucumber Error. Please Reinstall Universe And Reboot +++</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


</body>
</html>