<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Java Project of my abilities</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

</head>
<body>
<!--linking header from header file-->
<div th:replace="~{/fragments/header :: header}"></div>


<table>
    <tr>
        <th>ID</th>
        <th>Budget</th>
        <th>State</th>
        <th>Name</th>
        <th>Date</th>
    </tr>
    <!--/*@thymesVar id="client" type="com.example.bestcrmintheuniverse.entities.Client"*/-->
    <tr th:each="client: ${clients}">
        <td th:text="${deals.id}"></td>
        <td th:text="${deals.budget}"></td>
        <td th:text="${deals.state}"></td>
        <td th:text="${deals.startDate}"></td>
        <td><a th:href="@{/client/delete/{id}(id=${deal.id})}">delete</a></td>
    </tr>
</table>


<!--linking footer from footer template file-->
<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>